In [17]:
import pandas as pd
a=pd.DataFrame(columns=['high','low'])
t={'low':1,'high':2}
a=a.append(t,ignore_index=True)

In [24]:
q={'low':4,'high':5}
a=a.append(q,ignore_index=True)
a

  high low
0    2   1
1    5   4
2    5   4
3    5   4
4    5   4
5    5   4
6    5   4
7    5   4